/*DATOS GENERALES DE CARRUSEL*/
.container {
    width: 100%;
}

.carousel {
    position: relative;
}

.carousel img {
    height: 100vh;
    object-fit: cover;
}

.carousel__center {
    margin: 0 auto;
}

/*EMPIEZAN LOS CARRUSELES*/
#carrousel1 {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    position: absolute;
    opacity: 0;
    z-index: -1;
    top: 0;
    margin: auto;
}

#carrousel1:target {
    position: sticky;
    opacity: 1;
    z-index: 1;
}

#carrousel2 {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    position: absolute;
    opacity: 0;
    z-index: -1;
    top: 0;
    margin: auto;
}

#carrousel2:target {
    position: sticky;
    opacity: 1;
    z-index: 1;
}

#carrousel3 {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    position: absolute;
    opacity: 0;
    z-index: -1;
    top: 0;
    margin: auto;
}

#carrousel3:target {
    position: sticky;
    opacity: 1;
    z-index: 1;
}

#carrousel4 {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    position: absolute;
    opacity: 0;
    z-index: -1;
    top: 0;
    margin: auto;
}

#carrousel4:target {
    position: sticky;
    opacity: 1;
    z-index: 1;
}

#carrousel5 {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    position: absolute;
    opacity: 0;
    z-index: -1;
    top: 0;
    margin: auto;
}

#carrousel5:target {
    position: sticky;
    opacity: 1;
    z-index: 1;
}

#carrousel6 {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    position: absolute;
    opacity: 0;
    z-index: -1;
    top: 0;
    margin: auto;
}

#carrousel6:target {
    position: sticky;
    opacity: 1;
    z-index: 1;
}

#carrousel7 {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    position: absolute;
    opacity: 0;
    z-index: -1;
    top: 0;
    margin: auto;
}

#carrousel7:target {
    position: sticky;
    opacity: 1;
    z-index: 1;
}

#carrousel8 {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    position: absolute;
    opacity: 0;
    z-index: -1;
    top: 0;
    margin: auto;
}

#carrousel8:target {
    position: sticky;
    opacity: 1;
    z-index: 1;
}

#carrousel9 {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    position: absolute;
    opacity: 0;
    z-index: -1;
    top: 0;
    margin: auto;
}

#carrousel9:target {
    position: sticky;
    opacity: 1;
    z-index: 1;
}

#carrousel10 {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    position: absolute;
    opacity: 0;
    z-index: -1;
    top: 0;
    margin: auto;
}

#carrousel10:target {
    position: sticky;
    opacity: 1;
    z-index: 1;
}

#carrousel11 {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    position: absolute;
    opacity: 0;
    z-index: -1;
    top: 0;
    margin: auto;
}

#carrousel11:target {
    position: sticky;
    opacity: 1;
    z-index: 1;
}

#carrousel12 {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    position: absolute;
    opacity: 0;
    z-index: -1;
    top: 0;
    margin: auto;
}

#carrousel12:target {
    position: sticky;
    opacity: 1;
    z-index: 1;
}

#carrousel13 {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    position: absolute;
    opacity: 0;
    z-index: -1;
    top: 0;
    margin: auto;
}

#carrousel13:target {
    position: sticky;
    opacity: 1;
    z-index: 1;
}

/*MEDIA QUERIE PARA CARRUSELES*/
@media only screen and (max-width:767px) {
    #carrousel1 {
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    }

    #carrousel1 img {
        height: 70vh;
        margin-top: 15vh;
        margin-bottom: 15vh;
    }

    #carrousel2 {
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    }

    #carrousel2 img {
        height: 70vh;
        margin-top: 15vh;
        margin-bottom: 15vh;
    }

    #carrousel3 {
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    }

    #carrousel3 img {
        height: 70vh;
        margin-top: 15vh;
        margin-bottom: 15vh;
    }

    #carrousel4 {
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    }

    #carrousel4 img {
        height: 70vh;
        margin-top: 15vh;
        margin-bottom: 15vh;
    }

    #carrousel5 {
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    }

    #carrousel5 img {
        height: 70vh;
        margin-top: 15vh;
        margin-bottom: 15vh;
    }

    #carrousel6 {
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    }

    #carrousel6 img {
        height: 70vh;
        margin-top: 15vh;
        margin-bottom: 15vh;
    }

    #carrousel7 {
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    }

    #carrousel7 img {
        height: 70vh;
        margin-top: 15vh;
        margin-bottom: 15vh;
    }

    #carrousel8 {
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    }

    #carrousel8 img {
        height: 70vh;
        margin-top: 15vh;
        margin-bottom: 15vh;
    }

    #carrousel9 {
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    }

    #carrousel9 img {
        height: 70vh;
        margin-top: 15vh;
        margin-bottom: 15vh;
    }

    #carrousel10 {
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    }

    #carrousel10 img {
        height: 70vh;
        margin-top: 15vh;
        margin-bottom: 15vh;
    }

    #carrousel11 {
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    }

    #carrousel11 img {
        height: 70vh;
        margin-top: 15vh;
        margin-bottom: 15vh;
    }

    #carrousel12 {
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    }

    #carrousel12 img {
        height: 70vh;
        margin-top: 15vh;
        margin-bottom: 15vh;
    }

    #carrousel13 {
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    }

    #carrousel13 img {
        height: 70vh;
        margin-top: 15vh;
        margin-bottom: 15vh;
    }
}
/*ACÁ TERMINA CARRUSEL*/


.div1 a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
}

.div2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    height: 10em;
    margin-top: 5em;
}

.div2 p {
    display: flex;
    justify-content: left;
    text-decoration: none;
    font-family: zaha;
    font-size: 2rem;
    color: white;
    padding: 0em;
    margin-left: 1em;
    margin-right: 0em;
    margin-top: 0em;
    margin-bottom: 0em;
}

@media (hover: hover) {
    .div2:hover {
        width: 100%;
        height: 20em;
        transition: all 2s;
    }
}

.fondo1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imagenes/a1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fondo2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imagenes/b1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fondo3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imagenes/d1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fondo4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imagenes/e1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fondo5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imagenes/f1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fondo6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imagenes/g1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fondo7 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imagenes/h1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fondo8 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imagenes/i1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fondo9 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imagenes/j1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fondo10 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imagenes/k1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fondo11 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imagenes/l1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fondo12 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imagenes/m1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fondo13 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imagenes/c1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*BOTON PARA CERRAR*/
.botoncerrar1 {
    position: absolute;
    z-index: 2;
    width: 20px;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
}

.botoncerrar2 {
    max-width: 100%;
}

@media only screen and (max-width:992px) {
    .botoncerrar1 {
        display: none;
    }
}

/*MEDIA QUERIE PARA REDUCIR EL TAMAÑO DE LETRA*/
@media only screen and (max-width:992px) {
    .div1 p {
        font-size: 1.75rem;
    }
}