/*IMAGEN PRINCIPAL*/
.divContacto1 {
    display: inline-block;
    text-align: center;
    font-family: zaha;
    background-image: url(../imagenes/b3.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.divContacto2 {
    display: inline-block;
    text-align: center;
    font-family: zaha;
    position: relative;
    opacity: 1;
    z-index: 0;
}

/*MEDIA QUERIE PARA LA IMAGEN DEL CONTACTO*/
@media only screen and (max-width:992px) {
    .divContacto1 {
        position: relative;
        opacity: 1;
        z-index: 0;
    }

    .divContacto2 {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }
}

@media only screen and (max-width:768px) {
    .divContacto1 {
        height: 90vh;
    }
}

/*FONDO CHICO DEL TEXTO GRACIAS POR VISITAR*/
.caja {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    box-sizing: border-box;
    width: 60%;
    height: 30%;
    z-index: 0;
}

.color_caja {
    background-color: #ffffff10;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 0;
}

/*FORMULARIO*/
.form {
    font-family: zaha;
    margin: 0;
    padding: 0;
}

.formulario {
    height: auto;
    width: 80%;
    text-align: center;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 10%;
    margin-right: 10%;
}

.formulario input {
    border: 2px solid #343a40;
    font-family: zaha;
    background-color: black;
    color: #969696;
    font-size: 1.5rem;
    display: block;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    text-align: center;
}

.form-control {
    margin-top: 1em;
    margin-bottom: 0em;
}

.btn {
    margin-top: 2.5em;
    margin-bottom: 0em;
}

.textarea {
    font-family: zaha;
    border: 2px solid #343a40;
    background-color: black;
    color: #969696;
    font-size: 1.5rem;
    display: block;
    width: 95%;
    margin-top: 1.5em;
    margin-bottom: 0em;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    text-align: center;
}

/*TEXTO DE CONTACTO Y PNGs*/
.contacto {
    background-image: linear-gradient(135deg, #001d3d, #000814, black);
    font-family: zaha;
    text-align: center;
    margin-top: 7em;
    margin-bottom: 0em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    padding-bottom: 1.25em;

    li {
        display: inline-block;
        padding: 0.75em;
        margin-bottom: 1.5em;
        margin-left: 1.5em;
        margin-right: 1.5em;
        width: 4em;
        height: auto;
    }
}

/*MEDIA PARA EL HOVER*/
@media (hover: hover) {
    li :hover {
        transform: scale(1.15);
    }
}

.textocontacto1 {
    font-family: zaha;
    font-size: 1.5rem;
    color: #969696;
    text-align: left;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 10%;
    margin-right: 10%;
}

.textocontacto2 {
    font-family: zaha;
    font-size: 1.5rem;
    color: #969696;
    text-align: center;
    padding-top: 5em;
    padding-bottom: 1em;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 10%;
    margin-right: 10%;
}

/*MEDIA QUERIE PARA REDUCIR EL TAMAÑO DE LETRA*/
@media only screen and (max-width:992px) {
    .textocontacto1 {
        font-size: 1.25rem;
    }

    .textocontacto2 {
        font-size: 1.25rem;
    }

    .formulario input {
        font-size: 1.25rem;
    }

    .formulario textarea {
        font-size: 1.25rem;
    }
}