.textoIndex {
    font-family: zaha;
}

/*comentado
section {
    background-image: linear-gradient(135deg, #0e131f 50%, #38405f);
}
*/
section {
    background-image: linear-gradient(135deg, black, #000814, #001d3d);
}
.divIndex1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;

    .divIndex2 {
        width: 18em;
        height: 25em;
        position: relative;
        overflow: hidden;
        margin-top: 3em;
        margin-bottom: 0em;
        margin-left: 0em;
        margin-right: 3em;
        padding: 0em;
        border: .1em solid #000000
    }

    .divIndex2 img {
        width: 18em;
        height: 25em;
        object-fit: cover;
        margin: 0em;
    }

    .divIndex3 {
        width: 18em;
        height: 25em;
        position: relative;
        overflow: hidden;
        margin-top: 3em;
        margin-bottom: 0em;
        margin-left: 3em;
        margin-right: 3em;
        padding: 0em;
        border: .1em solid #000000
    }

    .divIndex3 img {
        width: 18em;
        height: 25em;
        object-fit: cover;
        margin: 0em;
    }

    .divIndex4 {
        width: 18em;
        height: 25em;
        position: relative;
        overflow: hidden;
        margin-top: 3em;
        margin-bottom: 0em;
        margin-left: 3em;
        margin-right: 0em;
        padding: 0em;
        border: .1em solid #000000
    }

    .divIndex4 img {
        width: 18em;
        height: 25em;
        object-fit: cover;
        margin: 0em;
    }
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: scale(0);
    transition: 1s;
}

.divIndex2:hover .capa {
    transform: scale(1);
}

.divIndex3:hover .capa {
    transform: scale(1);
}

.divIndex4:hover .capa {
    transform: scale(1);
}

@media only screen and (max-width:1200px) {
    .divIndex2 {
        margin-left: 0em;
        margin-right: 2em;
    }

    .divIndex3 {
        margin-left: 2em;
        margin-right: 2em;
    }

    .divIndex4 {
        margin-left: 2em;
        margin-right: 0em;
    }
}

@media only screen and (max-width:992px) {
    .divIndex2 {
        margin-left: 0em;
        margin-right: 0em;
    }

    .divIndex3 {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .divIndex4 {
        margin-left: 0em;
        margin-right: 0em;
    }
}

@media only screen and (max-width:879px) {
    .divIndex2 {
        margin-left: 0em;
        margin-right: 0em;
        width: 16em;
        height: 23em;
    }

    .divIndex3 {
        margin-left: 0.5em;
        margin-right: 0.5em;
        width: 16em;
        height: 23em;
    }

    .divIndex4 {
        margin-left: 0em;
        margin-right: 0em;
        width: 16em;
        height: 23em;
    }
}

@media only screen and (max-width:783px) {
    .divIndex2 {
        margin-left: 0em;
        margin-right: 0em;
        width: 14em;
        height: 19em;
    }

    .divIndex3 {
        margin-left: 0.5em;
        margin-right: 0.5em;
        width: 14em;
        height: 19em;
    }

    .divIndex4 {
        margin-left: 0em;
        margin-right: 0em;
        width: 14em;
        height: 19em;
    }
}

@media only screen and (max-width:687px) {
    .divIndex2 {
        margin-left: 3.8em;
        margin-right: 3.8em;
        width: 18em;
        height: 17em;
    }

    .divIndex3 {
        margin-left: 3.8em;
        margin-right: 3.8em;
        width: 18em;
        height: 17em;
    }

    .divIndex4 {
        margin-left: 3.8em;
        margin-right: 3.8em;
        width: 18em;
        height: 17em;
    }

    .divIndex2 img {
        width: 18em;
        height: 17em;
        object-fit: cover;
        margin: 0em;
    }

    .divIndex3 img {
        width: 18em;
        height: 17em;
        object-fit: cover;
        margin: 0em;
    }

    .divIndex4 img {
        width: 18em;
        height: 17em;
        object-fit: cover;
        margin: 0em;
    }
}

@media only screen and (max-width:576px) {
    .divIndex2 {
        margin-left: 3.8em;
        margin-right: 3.8em;
        width: 18em;
        height: 15em;
    }

    .divIndex3 {
        margin-left: 3.8em;
        margin-right: 3.8em;
        width: 18em;
        height: 15em;
    }

    .divIndex4 {
        margin-left: 3.8em;
        margin-right: 3.8em;
        width: 18em;
        height: 15em;
    }

    .divIndex2 img {
        width: 18em;
        height: 15em;
        object-fit: cover;
        margin: 0em;
    }

    .divIndex3 img {
        width: 18em;
        height: 15em;
        object-fit: cover;
        margin: 0em;
    }

    .divIndex4 img {
        width: 18em;
        height: 15em;
        object-fit: cover;
        margin: 0em;
    }
}

@media only screen and (max-width:500px) {
    .divIndex2 {
        margin-left: 3.8em;
        margin-right: 3.8em;
        width: 15em;
        height: 13em;
    }

    .divIndex3 {
        margin-left: 3.8em;
        margin-right: 3.8em;
        width: 15em;
        height: 13em;
    }

    .divIndex4 {
        margin-left: 3.8em;
        margin-right: 3.8em;
        width: 15em;
        height: 13em;
    }

    .divIndex2 img {
        width: 15em;
        height: 13em;
        object-fit: cover;
        margin: 0em;
    }

    .divIndex3 img {
        width: 15em;
        height: 13em;
        object-fit: cover;
        margin: 0em;
    }

    .divIndex4 img {
        width: 15em;
        height: 13em;
        object-fit: cover;
        margin: 0em;
    }
}

.texto {
    padding-left: 5em;
    padding-right: 5em;
    font-family: zaha;
    margin-top: 1em;
}

.texto h2 {
    color: #969696;
    margin-top: 2em;
}

.texto p {
    font-size: 1.1rem;
    color: #969696;
    margin-top: 2em;
    margin-bottom: 0em;
}
