.textoIndex {
    font-family: zaha;
}

section {
    background-image: linear-gradient(135deg, black, #000814, #001d3d);
}

.divIndex1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.divIndex2 {
    width: 18em;
    height: 25em;
    position: relative;
    overflow: hidden;
    margin-top: 3em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 3em;
    padding: 0em;
    border: .1em solid #000000
}

.divIndex3 {
    width: 18em;
    height: 25em;
    position: relative;
    overflow: hidden;
    margin-top: 3em;
    margin-bottom: 0em;
    margin-left: 3em;
    margin-right: 3em;
    padding: 0em;
    border: .1em solid #000000
}

.divIndex4 {
    width: 18em;
    height: 25em;
    position: relative;
    overflow: hidden;
    margin-top: 3em;
    margin-bottom: 0em;
    margin-left: 3em;
    margin-right: 0em;
    padding: 0em;
    border: .1em solid #000000
}

.divIndex2 img {
    width: 18em;
    height: 25em;
    object-fit: cover;
    margin: 0em;
}

.divIndex3 img {
    width: 18em;
    height: 25em;
    object-fit: cover;
    margin: 0em;
}

.divIndex4 img {
    width: 18em;
    height: 25em;
    object-fit: cover;
    margin: 0em;
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: scale(0);
    transition: 1s;
}

.textopara992px {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

@media (hover: hover) {
    .divIndex2:hover .capa {
        transform: scale(1);
    }

    .divIndex3:hover .capa {
        transform: scale(1);
    }

    .divIndex4:hover .capa {
        transform: scale(1);
    }
}

@media only screen and (max-width:1200px) {
    .divIndex2 {
        margin-left: 0em;
        margin-right: 2em;
    }

    .divIndex3 {
        margin-left: 2em;
        margin-right: 2em;
    }

    .divIndex4 {
        margin-left: 2em;
        margin-right: 0em;
    }
}

@media only screen and (max-width:992px) {
    .divIndex2 {
        margin-left: 0em;
        margin-right: 0em;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/a1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        img {
            display: none;
        }

        .textopara992px {
            opacity: 1;
        }
    }

    .divIndex3 {
        margin-left: 0.5em;
        margin-right: 0.5em;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/h1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        img {
            display: none;
        }

        .textopara992px {
            opacity: 1;
        }
    }

    .divIndex4 {
        margin-left: 0em;
        margin-right: 0em;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/metaverso.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        img {
            display: none;
        }

        .textopara992px {
            opacity: 1;
        }
    }
}

@media only screen and (max-width:879px) {
    .divIndex2 {
        margin-left: 0em;
        margin-right: 0em;
        width: 16em;
        height: 23em;
    }

    .divIndex3 {
        margin-left: 0.5em;
        margin-right: 0.5em;
        width: 16em;
        height: 23em;
    }

    .divIndex4 {
        margin-left: 0em;
        margin-right: 0em;
        width: 16em;
        height: 23em;
    }
}

@media only screen and (max-width:783px) {
    .divIndex2 {
        margin-left: 0em;
        margin-right: 0em;
        width: 14em;
        height: 19em;
    }

    .divIndex3 {
        margin-left: 0.5em;
        margin-right: 0.5em;
        width: 14em;
        height: 19em;
    }

    .divIndex4 {
        margin-left: 0em;
        margin-right: 0em;
        width: 14em;
        height: 19em;
    }
}

@media only screen and (max-width:687px) {
    .divIndex2 {
        margin-left: 3.8em;
        margin-right: 3.8em;
        width: 18em;
        height: 18em;
    }

    .divIndex3 {
        margin-left: 3.8em;
        margin-right: 3.8em;
        width: 18em;
        height: 18em;
    }

    .divIndex4 {
        margin-left: 3.8em;
        margin-right: 3.8em;
        width: 18em;
        height: 18em;
    }

    .divIndex2 img {
        width: 18em;
        height: 18em;
        object-fit: cover;
        margin: 0em;
    }

    .divIndex3 img {
        width: 18em;
        height: 18em;
        object-fit: cover;
        margin: 0em;
    }

    .divIndex4 img {
        width: 18em;
        height: 18em;
        object-fit: cover;
        margin: 0em;
    }
}

/*TEXTO*/
.textoprincipal {
    font-family: zaha;
    margin-top: 5em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0em;
}

.textoprincipal h2 {
    text-align: left;
    font-size: 2.5rem;
    color: blueviolet;
    margin-bottom: 0em;
}

.textoprincipal p {
    margin-top: 2em;
    text-align: left;
    font-size: 1.5rem;
    color: #969696;
}

.zha {
    text-decoration: none;
    color: blueviolet;
}

/*MEDIA QUERIE PARA REDUCIR EL TAMAÑO DE LETRA*/
@media only screen and (max-width:992px) {
    .textoprincipal h2 {
        font-size: 1.75rem;
    }

    .textoprincipal p {
        font-size: 1.25rem;
    }
}