/*CARROUSEL*/
.carrouselmetaverso {
    z-index: 0;
    margin-top: 5em;
    height: 30em;
}

.carrouselmetaverso img {
    height: 30em;
    object-fit: cover;
    margin: 0em;
}

/*MEDIA QUERIES*/
@media only screen and (max-width:992px) {
    .carrouselmetaverso {
        height: 25em;
    }

    .carrouselmetaverso img {
        height: 25em;
    }
}

@media only screen and (max-width:768px) {
    .carrouselmetaverso {
        height: 20em;
    }

    .carrouselmetaverso img {
        height: 20em;
    }
}

/*VIDEO*/
.video {
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0em;
    height: 30em;
    text-align: center;
}

.video iframe {
    height: 30em;
    width: 100%;
    object-fit: cover;
}

/*TEXTO*/
.textometaverso {
    font-family: zaha;
    margin-top: 5em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0em;
}

.textometaverso h2 {
    text-align: left;
    font-size: 2.25rem;
    color: blueviolet;
    margin-bottom: 0em;
}

.textometaverso p {
    margin-top: 2em;
    text-align: left;
    font-size: 1.5rem;
    color: #969696;
}

/*MEDIA QUERIE PARA REDUCIR EL TAMAÑO DE LETRA*/
@media only screen and (max-width:992px) {
    .textometaverso h2 {
        font-size: 1.75rem;
    }

    .textometaverso p {
        font-size: 1.25rem;
    }
}