@charset "UTF-8";
/* Reseteo de CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62, 5%; }

@font-face {
  font-family: zaha;
  src: url(zaha.ttf); }

nav {
  background-image: linear-gradient(135deg, black, #000814, #001d3d); }

nav h1 {
  padding: 1;
  color: blueviolet;
  text-align: left;
  padding: 0.5em;
  font-family: zaha;
  font-size: 2.5rem;
  margin: 0em;
  animation-name: opacidad;
  animation-duration: 3s; }

@keyframes opacidad {
  from {
    color: black; }
  100% {
    color: blueviolet; } }

.main-menu {
  /*nav ul*/
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  transition: transform 1s;
  transform: translateY(-300%); }

.main-menu__item {
  /*nav ul li*/
  font-family: zaha;
  font-size: 1.25rem;
  padding-top: 0.5em;
  padding-bottom: 0em;
  padding-right: 2em;
  padding-left: 2em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em; }

.main-menu__link {
  /*nav ul li a*/
  color: #969696;
  text-decoration: none; }

.toggle-menu {
  /*png*/
  width: 40px;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer; }

img {
  /*png*/
  max-width: 100%; }

.toggle-menu__checkbox:checked + .main-menu {
  transform: translateY(0); }

.toggle-menu__checkbox {
  display: none; }

/*Las pestañas se ponen una abajo de otra en celular*/
@media screen and (min-width: 981px) {
  .main-menu {
    flex-direction: row;
    transform: translateY(0); } }

/*Desaparece el png cuando estamos en escritorio*/
@media screen and (min-width: 981px) {
  .toggle-menu {
    display: none; } }

@media screen and (max-width: 980px) {
  nav {
    background-image: none; }
  nav h1 {
    background-image: linear-gradient(135deg, black, #000814, #001d3d); }
  nav ul {
    background-color: black; }
  .main-menu {
    position: absolute;
    width: 100vw; } }

@media screen and (max-width: 500px) {
  nav h1 {
    text-align: center;
    padding-bottom: 1.8em; }
  .toggle-menu {
    position: absolute;
    right: 43%;
    top: 5rem; } }

@media screen and (max-width: 432px) {
  .toggle-menu {
    position: absolute;
    right: 43%;
    top: 8rem; } }

@media screen and (max-width: 980px) {
  nav ul {
    margin: 0;
    padding: 0; } }

.textoIndex {
  font-family: zaha; }

/*comentado
section {
    background-image: linear-gradient(135deg, #0e131f 50%, #38405f);
}
*/
section {
  background-image: linear-gradient(135deg, black, #000814, #001d3d); }

.divIndex1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em; }
  .divIndex1 .divIndex2 {
    width: 18em;
    height: 25em;
    position: relative;
    overflow: hidden;
    margin-top: 3em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 3em;
    padding: 0em;
    border: .1em solid #000000; }
  .divIndex1 .divIndex2 img {
    width: 18em;
    height: 25em;
    object-fit: cover;
    margin: 0em; }
  .divIndex1 .divIndex3 {
    width: 18em;
    height: 25em;
    position: relative;
    overflow: hidden;
    margin-top: 3em;
    margin-bottom: 0em;
    margin-left: 3em;
    margin-right: 3em;
    padding: 0em;
    border: .1em solid #000000; }
  .divIndex1 .divIndex3 img {
    width: 18em;
    height: 25em;
    object-fit: cover;
    margin: 0em; }
  .divIndex1 .divIndex4 {
    width: 18em;
    height: 25em;
    position: relative;
    overflow: hidden;
    margin-top: 3em;
    margin-bottom: 0em;
    margin-left: 3em;
    margin-right: 0em;
    padding: 0em;
    border: .1em solid #000000; }
  .divIndex1 .divIndex4 img {
    width: 18em;
    height: 25em;
    object-fit: cover;
    margin: 0em; }

.capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transform: scale(0);
  transition: 1s; }

.divIndex2:hover .capa {
  transform: scale(1); }

.divIndex3:hover .capa {
  transform: scale(1); }

.divIndex4:hover .capa {
  transform: scale(1); }

@media only screen and (max-width: 1200px) {
  .divIndex2 {
    margin-left: 0em;
    margin-right: 2em; }
  .divIndex3 {
    margin-left: 2em;
    margin-right: 2em; }
  .divIndex4 {
    margin-left: 2em;
    margin-right: 0em; } }

@media only screen and (max-width: 992px) {
  .divIndex2 {
    margin-left: 0em;
    margin-right: 0em; }
  .divIndex3 {
    margin-left: 0.5em;
    margin-right: 0.5em; }
  .divIndex4 {
    margin-left: 0em;
    margin-right: 0em; } }

@media only screen and (max-width: 879px) {
  .divIndex2 {
    margin-left: 0em;
    margin-right: 0em;
    width: 16em;
    height: 23em; }
  .divIndex3 {
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 16em;
    height: 23em; }
  .divIndex4 {
    margin-left: 0em;
    margin-right: 0em;
    width: 16em;
    height: 23em; } }

@media only screen and (max-width: 783px) {
  .divIndex2 {
    margin-left: 0em;
    margin-right: 0em;
    width: 14em;
    height: 19em; }
  .divIndex3 {
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 14em;
    height: 19em; }
  .divIndex4 {
    margin-left: 0em;
    margin-right: 0em;
    width: 14em;
    height: 19em; } }

@media only screen and (max-width: 687px) {
  .divIndex2 {
    margin-left: 3.8em;
    margin-right: 3.8em;
    width: 18em;
    height: 17em; }
  .divIndex3 {
    margin-left: 3.8em;
    margin-right: 3.8em;
    width: 18em;
    height: 17em; }
  .divIndex4 {
    margin-left: 3.8em;
    margin-right: 3.8em;
    width: 18em;
    height: 17em; }
  .divIndex2 img {
    width: 18em;
    height: 17em;
    object-fit: cover;
    margin: 0em; }
  .divIndex3 img {
    width: 18em;
    height: 17em;
    object-fit: cover;
    margin: 0em; }
  .divIndex4 img {
    width: 18em;
    height: 17em;
    object-fit: cover;
    margin: 0em; } }

@media only screen and (max-width: 576px) {
  .divIndex2 {
    margin-left: 3.8em;
    margin-right: 3.8em;
    width: 18em;
    height: 15em; }
  .divIndex3 {
    margin-left: 3.8em;
    margin-right: 3.8em;
    width: 18em;
    height: 15em; }
  .divIndex4 {
    margin-left: 3.8em;
    margin-right: 3.8em;
    width: 18em;
    height: 15em; }
  .divIndex2 img {
    width: 18em;
    height: 15em;
    object-fit: cover;
    margin: 0em; }
  .divIndex3 img {
    width: 18em;
    height: 15em;
    object-fit: cover;
    margin: 0em; }
  .divIndex4 img {
    width: 18em;
    height: 15em;
    object-fit: cover;
    margin: 0em; } }

@media only screen and (max-width: 500px) {
  .divIndex2 {
    margin-left: 3.8em;
    margin-right: 3.8em;
    width: 15em;
    height: 13em; }
  .divIndex3 {
    margin-left: 3.8em;
    margin-right: 3.8em;
    width: 15em;
    height: 13em; }
  .divIndex4 {
    margin-left: 3.8em;
    margin-right: 3.8em;
    width: 15em;
    height: 13em; }
  .divIndex2 img {
    width: 15em;
    height: 13em;
    object-fit: cover;
    margin: 0em; }
  .divIndex3 img {
    width: 15em;
    height: 13em;
    object-fit: cover;
    margin: 0em; }
  .divIndex4 img {
    width: 15em;
    height: 13em;
    object-fit: cover;
    margin: 0em; } }

.texto {
  padding-left: 5em;
  padding-right: 5em;
  font-family: zaha;
  margin-top: 1em; }

.texto h2 {
  color: #969696;
  margin-top: 2em; }

.texto p {
  font-size: 1.1rem;
  color: #969696;
  margin-top: 2em;
  margin-bottom: 0em; }

footer {
  background-image: linear-gradient(135deg, #001d3d, #000814, black);
  font-family: zaha;
  text-align: center;
  margin-top: 5em;
  margin-bottom: 5em;
  margin-left: 0em;
  margin-right: 0em; }
  footer .footer_titulo {
    color: #969696;
    padding: 1em;
    font-size: 2rem;
    text-align: center; }
  footer li {
    display: inline-block;
    padding: 0.75em;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 4em;
    height: auto; }
    footer li :hover {
      transform: scale(1.15); }

.pie {
  padding-top: 1em;
  padding-bottom: 2em; }
