@charset "UTF-8";
/* Reseteo de CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62, 5%; }

@font-face {
  font-family: zaha;
  src: url(zaha.ttf); }

nav {
  background-image: linear-gradient(135deg, black, #000814, #001d3d); }

nav h1 {
  color: blueviolet;
  text-align: left;
  padding: 0.5em;
  font-family: zaha;
  font-size: 2.5rem;
  margin: 0em;
  animation-name: opacidad;
  animation-duration: 3s; }

@keyframes opacidad {
  from {
    color: black; }
  100% {
    color: blueviolet; } }

.main-menu {
  /*nav ul*/
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  transition: transform 1s;
  transform: translateY(-300%); }

.main-menu__item {
  /*nav ul li*/
  font-family: zaha;
  font-size: 1.25rem;
  padding-top: 0.5em;
  padding-bottom: 0em;
  padding-right: 2em;
  padding-left: 2em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em; }

.main-menu__link {
  /*nav ul li a*/
  color: #969696;
  text-decoration: none; }

.toggle-menu {
  /*png*/
  width: 20px;
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  cursor: pointer; }

img {
  /*png*/
  max-width: 100%; }

.toggle-menu__checkbox:checked + .main-menu {
  transform: translateY(0); }

.toggle-menu__checkbox {
  display: none; }

/*Las pestañas se ponen una abajo de otra en celular*/
@media screen and (min-width: 981px) {
  .main-menu {
    flex-direction: row;
    transform: translateY(0); } }

/*Desaparece el png cuando estamos en escritorio*/
@media screen and (min-width: 981px) {
  .toggle-menu {
    display: none; } }

@media screen and (max-width: 980px) {
  nav {
    background-image: none; }
  nav h1 {
    background-image: linear-gradient(135deg, black, #000814, #001d3d);
    padding-right: 4rem; }
  nav ul {
    background-image: linear-gradient(45deg, black, #000814, #001d3d); }
  .main-menu {
    position: absolute;
    width: 100vw; } }

@media screen and (max-width: 476px) {
  nav h1 {
    text-align: center; } }

.textoIndex {
  font-family: zaha; }

section {
  background-image: linear-gradient(135deg, black, #000814, #001d3d); }

.divIndex1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em; }

.divIndex2 {
  width: 18em;
  height: 25em;
  position: relative;
  overflow: hidden;
  margin-top: 3em;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 3em;
  padding: 0em;
  border: .1em solid #000000; }

.divIndex3 {
  width: 18em;
  height: 25em;
  position: relative;
  overflow: hidden;
  margin-top: 3em;
  margin-bottom: 0em;
  margin-left: 3em;
  margin-right: 3em;
  padding: 0em;
  border: .1em solid #000000; }

.divIndex4 {
  width: 18em;
  height: 25em;
  position: relative;
  overflow: hidden;
  margin-top: 3em;
  margin-bottom: 0em;
  margin-left: 3em;
  margin-right: 0em;
  padding: 0em;
  border: .1em solid #000000; }

.divIndex2 img {
  width: 18em;
  height: 25em;
  object-fit: cover;
  margin: 0em; }

.divIndex3 img {
  width: 18em;
  height: 25em;
  object-fit: cover;
  margin: 0em; }

.divIndex4 img {
  width: 18em;
  height: 25em;
  object-fit: cover;
  margin: 0em; }

.capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transform: scale(0);
  transition: 1s; }

.divIndex2:hover .capa {
  transform: scale(1); }

.divIndex3:hover .capa {
  transform: scale(1); }

.divIndex4:hover .capa {
  transform: scale(1); }

@media only screen and (max-width: 1200px) {
  .divIndex2 {
    margin-left: 0em;
    margin-right: 2em; }
  .divIndex3 {
    margin-left: 2em;
    margin-right: 2em; }
  .divIndex4 {
    margin-left: 2em;
    margin-right: 0em; } }

@media only screen and (max-width: 992px) {
  .divIndex2 {
    margin-left: 0em;
    margin-right: 0em; }
  .divIndex3 {
    margin-left: 0.5em;
    margin-right: 0.5em; }
  .divIndex4 {
    margin-left: 0em;
    margin-right: 0em; } }

@media only screen and (max-width: 879px) {
  .divIndex2 {
    margin-left: 0em;
    margin-right: 0em;
    width: 16em;
    height: 23em; }
  .divIndex3 {
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 16em;
    height: 23em; }
  .divIndex4 {
    margin-left: 0em;
    margin-right: 0em;
    width: 16em;
    height: 23em; } }

@media only screen and (max-width: 783px) {
  .divIndex2 {
    margin-left: 0em;
    margin-right: 0em;
    width: 14em;
    height: 19em; }
  .divIndex3 {
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 14em;
    height: 19em; }
  .divIndex4 {
    margin-left: 0em;
    margin-right: 0em;
    width: 14em;
    height: 19em; } }

@media only screen and (max-width: 687px) {
  .divIndex2 {
    margin-left: 3.8em;
    margin-right: 3.8em;
    width: 18em;
    height: 17em; }
  .divIndex3 {
    margin-left: 3.8em;
    margin-right: 3.8em;
    width: 18em;
    height: 17em; }
  .divIndex4 {
    margin-left: 3.8em;
    margin-right: 3.8em;
    width: 18em;
    height: 17em; }
  .divIndex2 img {
    width: 18em;
    height: 17em;
    object-fit: cover;
    margin: 0em; }
  .divIndex3 img {
    width: 18em;
    height: 17em;
    object-fit: cover;
    margin: 0em; }
  .divIndex4 img {
    width: 18em;
    height: 17em;
    object-fit: cover;
    margin: 0em; } }

@media only screen and (max-width: 576px) {
  .divIndex2 {
    margin-left: 3.8em;
    margin-right: 3.8em;
    width: 18em;
    height: 15em; }
  .divIndex3 {
    margin-left: 3.8em;
    margin-right: 3.8em;
    width: 18em;
    height: 15em; }
  .divIndex4 {
    margin-left: 3.8em;
    margin-right: 3.8em;
    width: 18em;
    height: 15em; }
  .divIndex2 img {
    width: 18em;
    height: 15em;
    object-fit: cover;
    margin: 0em; }
  .divIndex3 img {
    width: 18em;
    height: 15em;
    object-fit: cover;
    margin: 0em; }
  .divIndex4 img {
    width: 18em;
    height: 15em;
    object-fit: cover;
    margin: 0em; } }

@media only screen and (max-width: 500px) {
  .divIndex2 {
    margin-left: 3.8em;
    margin-right: 3.8em;
    width: 15em;
    height: 13em; }
  .divIndex3 {
    margin-left: 3.8em;
    margin-right: 3.8em;
    width: 15em;
    height: 13em; }
  .divIndex4 {
    margin-left: 3.8em;
    margin-right: 3.8em;
    width: 15em;
    height: 13em; }
  .divIndex2 img {
    width: 15em;
    height: 13em;
    object-fit: cover;
    margin: 0em; }
  .divIndex3 img {
    width: 15em;
    height: 13em;
    object-fit: cover;
    margin: 0em; }
  .divIndex4 img {
    width: 15em;
    height: 13em;
    object-fit: cover;
    margin: 0em; } }

#carrousel1 {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  position: absolute;
  opacity: 0;
  z-index: -1;
  top: 0;
  margin: auto; }

#carrousel1:target {
  position: sticky;
  opacity: 1;
  z-index: 1; }

#carrousel2 {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  position: absolute;
  opacity: 0;
  z-index: -1;
  top: 0;
  margin: auto; }

#carrousel2:target {
  position: sticky;
  opacity: 1;
  z-index: 1; }

#carrousel3 {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  position: absolute;
  opacity: 0;
  z-index: -1;
  top: 0;
  margin: auto; }

#carrousel3:target {
  position: sticky;
  opacity: 1;
  z-index: 1; }

#carrousel4 {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  position: absolute;
  opacity: 0;
  z-index: -1;
  top: 0;
  margin: auto; }

#carrousel4:target {
  position: sticky;
  opacity: 1;
  z-index: 1; }

#carrousel5 {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  position: absolute;
  opacity: 0;
  z-index: -1;
  top: 0;
  margin: auto; }

#carrousel5:target {
  position: sticky;
  opacity: 1;
  z-index: 1; }

#carrousel6 {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  position: absolute;
  opacity: 0;
  z-index: -1;
  top: 0;
  margin: auto; }

#carrousel6:target {
  position: sticky;
  opacity: 1;
  z-index: 1; }

#carrousel7 {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  position: absolute;
  opacity: 0;
  z-index: -1;
  top: 0;
  margin: auto; }

#carrousel7:target {
  position: sticky;
  opacity: 1;
  z-index: 1; }

#carrousel8 {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  position: absolute;
  opacity: 0;
  z-index: -1;
  top: 0;
  margin: auto; }

#carrousel8:target {
  position: sticky;
  opacity: 1;
  z-index: 1; }

#carrousel9 {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  position: absolute;
  opacity: 0;
  z-index: -1;
  top: 0;
  margin: auto; }

#carrousel9:target {
  position: sticky;
  opacity: 1;
  z-index: 1; }

#carrousel10 {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  position: absolute;
  opacity: 0;
  z-index: -1;
  top: 0;
  margin: auto; }

#carrousel10:target {
  position: sticky;
  opacity: 1;
  z-index: 1; }

#carrousel11 {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  position: absolute;
  opacity: 0;
  z-index: -1;
  top: 0;
  margin: auto; }

#carrousel11:target {
  position: sticky;
  opacity: 1;
  z-index: 1; }

#carrousel12 {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  position: absolute;
  opacity: 0;
  z-index: -1;
  top: 0;
  margin: auto; }

#carrousel12:target {
  position: sticky;
  opacity: 1;
  z-index: 1; }

#carrousel13 {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  position: absolute;
  opacity: 0;
  z-index: -1;
  top: 0;
  margin: auto; }

#carrousel13:target {
  position: sticky;
  opacity: 1;
  z-index: 1; }

.container {
  width: 100%; }

.carousel {
  position: relative; }

.carousel img {
  height: 100vh;
  object-fit: cover; }

.carousel__center {
  margin: 0 auto; }

/*Acá termina carrusel*/
.div1 a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none; }

.div2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  height: 10em;
  margin-top: 5em; }

.div2:hover {
  width: 100%;
  height: 20em;
  transition: all 2s; }

.div2 p {
  display: flex;
  justify-content: left;
  text-decoration: none;
  font-family: zaha;
  font-size: 2rem;
  color: white;
  padding: 0em;
  margin-left: 1em;
  margin-right: 0em;
  margin-top: 0em;
  margin-bottom: 0em; }

.fondo1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imagenes/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.fondo2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imagenes/2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.fondo3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imagenes/3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.fondo4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imagenes/4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.fondo5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imagenes/5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.fondo6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imagenes/6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.fondo7 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imagenes/7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.fondo8 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imagenes/8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.fondo9 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imagenes/9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.fondo10 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imagenes/10.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.fondo11 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imagenes/11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.fondo12 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imagenes/12.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.fondo13 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imagenes/13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.color_caja {
  background-color: #ffffff10;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); }

.texto {
  position: relative;
  display: inline-block;
  text-align: center;
  font-family: zaha; }

.caja {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  box-sizing: border-box;
  width: 60%;
  height: 30%; }

footer {
  background-image: linear-gradient(135deg, #001d3d, #000814, black);
  font-family: zaha;
  text-align: center;
  margin-top: 5em;
  margin-bottom: 5em;
  margin-left: 0em;
  margin-right: 0em; }
  footer .footer_titulo {
    color: #969696;
    padding: 1em;
    font-size: 2rem;
    text-align: center; }
  footer li {
    display: inline-block;
    padding: 0.75em;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 4em;
    height: auto; }
    footer li :hover {
      transform: scale(1.15); }

.pie {
  padding-top: 1em;
  padding-bottom: 2em; }
